body {
    margin: 0;
    background-color: #fffbdb;
    color: #7776bc;
    font-family: 'Crete Round', serif;
}

header {
    color: #ff674d;
    text-align: center;
    text-transform: capitalize;
    text-shadow: .15rem .15rem #7776bc;
    text-decoration: underline;
    background-color: #ffec51;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2em;
}

#img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#img-container img {
    width: auto;
    height: auto;
    padding: 1rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#count, #breeds, #btn {
    border-color: #ff674d;
    box-shadow: none;
    border-width: .15rem;
    border-style: solid;
    color: #5d576b;
    background-color: #ffec51;
    margin-left: 1rem;
    font-size: 1.25em;
    margin-right: 1rem;
    margin-top: 1rem;
}

#btn { 
    background-color: #7776bcbd;
    color: #fffbdb;
}
#btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.7);
}

#breed-name {
    font-size: 1.25em;
    font-weight: bold;
    color: #ff674d;
}

#doggos {
    margin-left: 1rem;
}

@media (max-width:1000px) {
    #img-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        width: auto;
        height: auto;
        padding: .5rem;
    }
    #form {
        display: grid;
        grid-template-columns: (3, auto);
        text-align: center;
        float: left;
    }
}